
    
    main #ENTRADAS{
        padding: 20px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    main  h2 #ENTRADAS{
        color: black;
        margin-bottom: 20px;
        width: 100%;
    
    }
    main   p #ENTRADAS{
        color: black;
        text-align: justify;
        line-height: 1.5;
        text-indent: 1cm;
        font-weight: bolder;
        width: 100%;
    
    }